---
const {labelTitle, inputName,inputType,isRequired,pattern,title,maxlength} = Astro.props;
---
<div class="flex items-center justify-center w-full">
  <div class="relative w-full">
    <input id={inputName} name={inputName} type={inputType}class="w-64 border-b border-gray-300 py-1 focus:border-b-2 focus:border-green-700 transition-colors focus:outline-none peer bg-inherit w-full" required={isRequired} pattern={pattern} title={title} maxlength={maxlength} />
    <label for={labelTitle} class="absolute left-0 top-1 cursor-text peer-focus:text-xs peer-focus:-top-4 transition-all peer-focus:text-green-700 peer-valid:-top-4 peer-valid:text-green-700 peer-valid:text-xs peer-invalid:text-xs peer-invalid:text-black-600 peer-invalid:-top-4">{labelTitle}</label>
  </div>
</div>