---

const { labeTitle, inputName,rows = 2, required} = Astro.props;
---

  <div class="relative w-full">
    <textarea 
    required={required}
      id="username"
      rows={rows}
      cols={rows}
      name={inputName}
      class="border-b w-full border-gray-300 py-1 focus:border-b-2 focus:border-green-700 transition-colors focus:outline-none peer bg-inherit peer-visited:-top-8 peer-visited:text-green-700 peer-visited:text-xs"
    ></textarea>
    <label
      for="username"
      class="absolute left-0  cursor-text peer-focus:text-xs peer-focus:-top-2 transition-all peer-focus:text-green-700 -top-4"
      >{labeTitle}</label
    >
  </div>